header {
  color: lightgray;
  padding: 30px;
}

body {
  background-image: url('../static/pics/background.jpg');
}

.nav {
  overflow: hidden;
  background-color: silver;
}

.nav a {
  float: left;
  font-size: 18px;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.nav a:hover {
  background-color: gray;
}



