

<!DOCTYPE html>
<html lang="lv">
<head>
  <link rel="stylesheet" href="../static/stylesheet.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gadalaiki</title>
</head>
<body>
    <header>
        <div class="nav">
            <a href="sakums.html">Sākums</a>
            <a href="pavasaris.html">Pavasaris</a>
            <a href="vasara.html">Vasara</a>
            <a href="rudens.html">Rudens</a>
            <a href="ziema.html">Ziema</a>
        <div class="subnav">
          
    </header>
  <section>
  {% block content %}
  
  {% endblock %}
  </section>
</body>  
</html>