

<!DOCTYPE html>
<html lang="lv">
<head>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gadalaiki</title>
</head>
<body>
    <header>
        <div class="nav">
            <a href="/">Sākums</a>
            <a {% if page == "pavasaris" %} class="active" {% endif %} href="/pavasaris">Pavasaris</a>
            <a {% if page == "vasara" %} class="active" {% endif %} href="/vasara">Vasara</a>
            <a {% if page == "rudens" %} class="active" {% endif %} href="/rudens">Rudens</a>
            <a {% if page == "ziema" %} class="active" {% endif %} href="/ziema">Ziema</a>
          
    </header>
  <section>
  {% block content %}
  
  {% endblock %}
  </section>
</body>  
</html>