{% extends "layout.html" %}

{% set page = "pavasaris" %}

{% block content %}
<h1>Pavasaris</h1>
<p>Pavasaris ir pārejas gadalaiks no ziemas uz vasaru. Šis gadalaiks ir laiks, kad daba pamostas un atdzīvojas no ziemas bargā sala. Laiku, kad atmodušies augi sāk ziedēt sauc par ziedoni.[1] Astronomiskais pavasaris ziemeļu puslodē sākas pavasara ekvinokcijas brīdī (20. vai 21. martā) un ilgst līdz 21. jūnijam.</p>
<h3>Pavasara tipi</h3>
<ul>
    <li>Kalendārais pavasaris — laika posms no 1. marta līdz 31. maijam ieskaitot</li>
    <li>Astronomiskais pavasaris — ziemeļu puslodē iestājas brīdī, kad saule šķērso debess ekvatoru pavasara punktā. Diena ar nakti ir vienādā garumā un diena pamazām kļūst garāka par nakti. Katru gadu astronomiskā pavasara iestāšanās laiks nedaudz atšķiras laika skaitīšanas sistēmas dēļ.</li>
    <li>Meteoroloģiskais pavasaris — sākas, kad diennakts vidējā gaisa temperatūra ir stabili vienāda vai augstāka par 0 grādiem.</li>
</ul>
<div class="gallery">
    <a target="_blank" href="../static/pics/pavasaris.jfif">
      <img src="../static/pics/pavasaris.jfif" alt="Pavasarīgs attēls">
    </a>
    <div class="desc">Pirmie pavasara ziedi</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../static/pics/pavasaris2.jfif">
      <img src="../static/pics/pavasaris2.jfif" alt="Pavasarīgs attēls">
    </a>
    <div class="desc">Pavasarī zied ķirši</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../static/pics/pavasaris3.jfif">
      <img src="../static/pics/pavasaris3.jfif" alt="Pavasarīgs attēls">
    </a>
    <div class="desc">Daudziem zvēriem pavasarī dzimst mazuļi</div>
  </div>
  </div>
{% endblock %}