{% extends "layout.html" %}

{% set page = "rudens" %}

{% block content %}
<h1>Rudens</h1>
<p>Rudens ir viens no gadalaikiem mērenajā joslā. Tas iezīmē pāreju starp vasaru un ziemu. Rudens ir gadalaiks, kas Zemes ziemeļu puslodē iesākas, kad Saule savā redzamajā kustībā pa ekliptu šķērso debess ekvatoru rudens punktā, un beidzas, kad Saule nonāk ziemas saulgriežu punktā.
Par rudens sākumu vēstī pirmās salnas. Rudens īpatnība ir mākoņains laiks, ilgstošs, smidzinošs lietus, migla. Rudenī pastiprinās vēja ātrums, plosās vētras. Taču var būt arī skaidrs un saulains laiks, kad temperatūra dienā var pacelties pat līdz 20 C. To dēvē par atvasaru.
Astronomiskais rudens sākas rudens ekvinokcijas brīdī (22. vai 23. septembrī).</p>
<h3>Rudens tipi</h3>
<ul>
    <li>Kalendārais rudens — laika posms no 1. septembra līdz 30. novembrim ieskaitot</li>
    <li>Astronomiskais rudens — ziemeļu puslodē iestājas brīdī, kad saule šķērso debess ekvatoru rudens punktā</li>
    <li>Meteoroloģiskais rudens — sākas, kad diennakts vidējā gaisa temperatūra ir stabili vienāda vai zemāka par +10 grādiem un beidzas aktīvas veģetācijas periods.</li>
</ul>

<div class="gallery">
    <a target="_blank" href="../static/pics/autmn.jfif">
      <img src="../static/pics/autmn.jfif" alt="Rudenīgs attēls">
    </a>
    <div class="desc">Rudenī kokiem krāsojas un nobirst lapas</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../static/pics/rudens2.jfif">
      <img src="../static/pics/rudens2.jfif" alt="Rudenīgs attēls">
    </a>
    <div class="desc">Rudenī lielākā daļa tautiešu brauc uz Siguldu skatīties uz sakritušajām lapām</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="../static/pics/rudens3.jfif">
      <img src="../static/pics/rudens3.jfif" alt="Rudenīgs attēls">
    </a>
    <div class="desc">Rudens ir ražas laiks</div>
  </div>
  </div>

{% endblock %}