{% extends "layout.html" %}

{% block content %}
<h1>Kas ir gadalaiks</h1>

<p>Gadalaiks jeb gadskārta ir gada daļa, kurai raksturīgi noteikti laikapstākļi un parādības dabā. Mērenajā joslā izšķir četrus gadalaikus — vasaru, rudeni, ziemu un pavasari, savukārt tropu un subtropu joslās izšķir divus gadalaikus — lietus sezonu un sauso sezonu. Gadalaiku atšķirības skaidrojamas ar Zemes slīpo rotācijas asi, kuras dēļ tās virsma, riņķojot ap Sauli, saņem dažādu siltuma un gaismas daudzumu. Šī iemesla dēļ gadalaiks Ziemeļu puslodē ir pretējs gadalaikam Dienvidu puslodē, piemēram, kad vienā puslodē ir vasara, otrā ir ziema.</p>



<p>Latviešu kalendārā gadu sākotnēji iedalīja tikai divos laikos — ziemas laikā, par kura sākumu uzskatīja apjumības un beigām — Ūsiņus, un vasaras laikā, par kura sākumu uzskatīja Ūsiņus un beigām — apjumības. Vēlāk kā atsevišķu gadalaiku sāka izšķirt arī vasaras sākumu — pavasari, ko pēc latviešu vēsturnieka Arveda Švābes domām dažviet jau pazina ap 13. gadsimtu. Savukārt rudens (vietumis saukts arī par paziemu) kā ceturtais gadalaiks varētu būt sākts izdalīts ap 15.—17. gadsimtu</p>
<p>Avots: vecā, labā <a href="https://lv.wikipedia.org/wiki/Gadalaiks">Vikipēdija</a></p>

<div class="ak">
<h2>Aicinu piedalīties aptaujā par gadalaikiem</h2>
<form action='/' method="POST">
    {% if message %}
    <h3>{{ message }}</h3>
    {% endif %}
    
    <fieldset>
        <label for="faveseason"><p>Kurš ir Tavs mīļākais gadalaiks?</p><input id="faveseason" name="faveseason" type="text" required><br>
        <label for="faveseasonwhy"><p>Kas šajā gadalaikā Tev patīk visvairāk?</p><input id="faveseasonwhy" name="faveseasonwhy" type="text" required><br>
        <label for="cutseason"><p>Kurš gadalaiks Tev patīk vismazāk?</p><input id="cutseason" name="cutseason" type="text" required><br>
        <label for="cutseasonwhy"><p>Kāpēc šis gadalaiks Tev nepatīk?</p><input id="cutseasonwhy" name="cutseasonwhy" type="text" required><br>
    </fieldset>
    <input type="submit" value="Atbildēt">
</form>
</div>
    
<div class="ak">
    <span>
        <h2>Noskaties video par gadalaikiem</h2>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/DD_8Jm5pTLk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </span>
</div>

{% endblock %}