{% extends "layout.html" %}

{% set page = "vasara" %}

{% block content %}
<h1>Vasara</h1>
<p>Vasara ir gadalaiks mērenajā joslā starp pavasari un rudeni. Vasara ir karstākais gadalaiks ar visgarākajām dienām. Vasara ir gadalaiks, kas sākas pēc pavasara un beidzas pirms rudens.</p>
<h3>Vasaras tipi</h3>
<ul>
    <li>Kalendārā vasara — laika posms no 1. jūnija līdz 31. augustam ieskaitot.</li>
    <li>Astronomiskā vasara</li>
    <li>Meteoroloģiskā vasara — periods, kad diennakts vidējā gaisa temperatūra ir stabili vienāda vai augstāka par +15 °C.</li>
</ul>
<div class="gallery">
    <a target="_blank" href="../static/pics/vasara.jfif">
      <img src="../static/pics/vasara.jfif" alt="Vasarīgs attēls">
    </a>
    <div class="desc">Vasarā daudzi dodas sauļoties</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../static/pics/vasara2.jfif">
      <img src="../static/pics/vasara2.jfif" alt="Vasarīgs attēls">
    </a>
    <div class="desc">Vasarā, pat ja Tu pats nepļauj zāli - noteikti dzirdi kā to dara citi</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../static/pics/vasara3.jfif">
      <img src="../static/pics/vasara3.jfif" alt="Vasarīgs attēls">
    </a>
    <div class="desc">Tieši vasarā ir vieni no latviešu mīļākajiem svētkiem</div>
  </div>
  </div>
{% endblock %}