{% extends "layout.html" %}

{% set page = "ziema" %}

{% block content %}
<h1>Ziema</h1>
<p>Ziema ir aukstākā gada sezona polārajā un mērenajā klimatā, starp rudeni un pavasari. Ziema ir izskaidrojama ar to, ka attiecīgā Zemes puslode ir vērsta prom no Saules. Dažādas kultūras definē dažādus datumus kā ziemas sākumu, un dažas definīcijas definē atkarībā no laika apstākļiem.
Kad ziemeļu puslodē ir ziema, dienvidu puslodē ir vasara, un otrādi. Daudzos reģionos ziema ir saistīta ar sniega un sala temperatūrām. Ziemas saulgrieži ir brīdis, kad saules paaugstināšanās attiecībā uz Ziemeļpola vai Dienvidpola ir visvairāk uz negatīvo vērtību (tas ir tad, kad saule ir vistālākajā apvāršņa malā, mērot no pola), kas nozīmē, ka šī diena ir visīsākā diena un visgarākā nakts.</p>
<h3>Ziemas tipi</h3>
<ul>
    <li>Kalendārā ziema — laika posms no 1. decembra līdz 28. februārim (garajā gadā 29. februārim) ieskaitot</li>
    <li>Astronomiskā ziema — sākas ziemas saulgriežos (21. vai 22. decembrī) un beidzas ar pavasara ekvinokciju (19., 20. vai 21. martā)</li>
    <li>Meteoroloģiskā ziema — periods, kad diennakts vidējā gaisa temperatūra ir stabili vienāda un zemāka par 0 grādiem.</li>
</ul>

<div class="gallery">
    <a target="_blank" href="../static/pics/ziema.jfif">
      <img src="../static/pics/ziema.jfif" alt="Ziemīgs attēls">
    </a>
    <div class="desc">Prasti ziemā ir sniegs</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../static/pics/ziema2.jfif">
      <img src="../static/pics/ziema2.jfif" alt="Ziemīgs attēls">
    </a>
    <div class="desc">Ziemā aizsalst ūdenstilpnes</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="../static/pics/ziema3.jfif">
      <img src="../static/pics/ziema3.jfif" alt="Ziemīgs attēls">
    </a>
    <div class="desc">Ziemā ceļus kaisa ar smilts-sāls maisījumu</div>
  </div>
  </div>

{% endblock %}